.formContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  margin: 20px;
  background-color: rgba(20, 78, 185, 0.9);
  padding: 60px;
  border-radius: 20px;
  width: 600px;
}

.musicTable {
  border-collapse: collapse;
  width: 100%;
}

.musicTable th,
.musicTable td {
  padding: 8px;
  text-align: center;
  color: white;
}

.musicTable th {
  background-color: #ffac2f;
  color: white;
}

.musicTable th:nth-child(6),
.musicTable th:nth-child(7) {
  background-color: transparent;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tableWrapper {
  height: 235px; /* Fits 5 rows */
  overflow-y: auto; /* Makes a scrollbar after 5 rows */
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.button-row {
  display: flex;
  gap: 10px;
}

.noData {
  text-align: center;
}
