.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #808080;
  height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow the rectangles to wrap to the next line if the screen is too narrow */
  padding-top: 3em; /* Push content below the fixed header */
  flex-grow: 1;

}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
